@media (max-width:1366px) {
    h1 {
        font-size: 96px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 42px;
    }
    .p1 {
        font-size: 16px;
    }
    p1-caps {
        font-size: 16px;
    }
}

@media (max-width:360px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    /* h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    } */
    h6 {
        font-size: 26px;
    }
    .p1 {
        font-size: 16px;
    }
    p1-caps {
        font-size: 16px;
    }
}